---
layout: default
extraHead: >
  <script src="assets/cubejs/cube.js"></script>
  <script src="assets/cubejs/solve.js"></script>
  <script src="assets/cubejs/async.js"></script>
---

<style>
  #cubeSolverState {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: red;
    padding: 10px;
    text-align: left;
  }
  /*
  #scrambleContainer {
    display: none;
  } */
</style>

<!-- <div id="scrambleContainer" class="container">
  <h2>Scramble Box</h2>
  <h2 id="scrambleText">temp</h2>
  <img /><img />
</div> -->
<div id="cubeSolverState">Cube Software Initializing...</div>
<script src="assets/cubeInit.js"></script>
<script src="assets/cubeFunctions.js"></script>
{{ content }}
