<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Emil's Random Drawer</title>
    <style>
      body {
        background-color: beige;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Emil's Random Drawer of Fun Stuff</h1>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    {{ content }}
  </body>
</html>
